body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
	background: linear-gradient(to bottom, #d9d8e1, #f4f3f8, #f4f4f9);
} 

	  .main{
		width: 750px;
		height: 600px;
		background: #fff;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	/* #chk{
		display: none;
	} */
/* 
	.signup{
		position: relative;
		width:100%;
		height: 100%;
	} */
	/* .login{
		height: 460px;
		background: #eee;
		border-radius: 60% / 10%;
		transform: translateY(-160px);
		transition: .8s ease-in-out;
	}
	.login label{
		transform: scale(.6);
	} */
	
	/* #chk:checked ~ .login{
		transform: translateY(-570px);
	}
	#chk:checked ~ .login label{
		transform: scale(1);	
	}
	#chk:checked ~ .signup label{
		transform: scale(.6);
	} */
	/* label{
		color: #573b8a;
		font-size: 1.3em;
		justify-content: center;
		display: flex;
		margin: 20%;
		padding-top: 10%;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
	} */
	input{
		width: 80%;
		height: 10px;
		background: #e0dede;
		justify-content: center;
		display: flex;
		margin: 10% auto;
		padding: 10px;
		border: none;
		outline: none;
		border-radius: 5px;
	} 
	button, .button{
		width: 60%;
		height: 40px;
		margin: 10px auto;
		text-align: center;
		display: block;
		color: #fff;
		background: #9bb0ca;
		font-size: 1em;
		font-weight: bold;
		margin-top: 20px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
		padding: 10px 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	button:hover, .button:hover{
		background: #44b882;
	}

h1, h2, h3, h4, h5, h6 {
	 text-align: center;
  	 color: hsl(22, 100%, 2%); }
ul{
	 list-style-image:url(puce.gif);
	 text-align: left;}
a:link {color: #844C35;}
a:visited {color: #040100;}
a:hover {color: #1e0505;}
a:focus {color: #1b0303;}
a:active {color: #009900;}
#container{width:780px; margin:0 auto;}
#top{width:auto; display:block; height:80px; margin-top: 10px;

margin-right: 10px;

margin-bottom: 50px;

margin-left: 10px;

}
#bar{width:auto; display:block; height:40px; margin: 30px;}
#main{width:auto; display:block;}
#column_left{width:560px; margin-right:20px; float:left;}
#column_right{width:200px; float:left;}
/*
div.spacer permet de faire deux colonnes de hauteur égale
*/
div.spacer{clear:both; height:10px; display:block;}
#footer{width:auto; display:block; height:24px;}
.annonce {
	 margin-left:35%;
	 margin-top: 5px;
	 text-align: left;
	 border: 6px double #FFFFFF;
	 }
.perime {
	 margin-left:35%;
	 margin-top: 5px;
	 text-align: left;
	 border: 6px double red;
	 }
.attente {
	 margin-left:35%;
	 margin-top: 5px;
	 text-align: left;
	 border: 6px double green;
	 }
.texte {
	 width:35%;
	 float: left;
	 }
.menu {
	 margin-left:35%;
	 text-align: left;
  	 color: #41201B; 
}	
	
.zoom {
width:30%;
float: left;
margin:auto;
}
.zoom p {
text-align:right;
}
.zoom img {
height:80px;
}
.zoom img:hover {
height:300px;
}
